body {
    background-color: #FFFBE9;
}
hr {
    border-style: none;
    border-top: dotted;
    border-color: grey;
    border-width: 5px;
    width: 3%;
}
h3{
    color: #2B3A55;
    font-style: normal;
    font-family: 'Allura';
    font-size: 30px;
}
h1{
    color: #2B3A55;
    font-style: normal;
    font-family: 'Allura';
    font-size: 50px;
}
h4{
    color: #2B3A55;
    font-style: normal;
    font-family: 'Allura';
    font-size: 20px; 
}