/****TAG SELECTORS****/
h1{
    color: indianred;
    font-style: normal;
    font-family: 'Allura';
    font-size: 100px;
}
p{
    color: cadetblue;
    font-size: 30px;
}

img:hover {
    background-color: white;
}


/****CLASS SELECTORS****/
.bacon {
    background-color: green;
}
.broccoli {
    background-color: red;
}
.circular {
    border-radius: 100%;
}

/****ID SELECTORS****/
#heading{
    color: blue
}